  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  .custom-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    max-width: 400px; /* Optional: Limit the card's maximum width */
  }
  .sign-up{
    padding: 50px;

}
ion-button{
    width: 170px;
}
@media (min-width: 769px){
    form{
        width: 500px;
         padding: 50px 10px;
    }
}