<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Nuevo Usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="card mt-5">
    <div class="card-body">
      <h3 class="card-title text-center">Porfavor Ingresa tu Correo con el que te has registrado</h3>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          [formControl]="userEmail"
          required
        />
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary btn-lg" (click)="onReset()">
          Solicitar restablecimiento de contraseña
        </button>
      </div>
    </div>
  </div>
</ion-content>

