.custom-toast-error {
    --background: red;
    color: white;
}
/* Estilos para el enlace "Registrarse" */
.register-link {
    text-decoration: underline;
    cursor: pointer;
    display: inline-block; /* Asegura que el enlace se muestre en línea */
    margin-right: -30px;
    margin-top: -180px;

  }
/* Estilos para los iconos en los campos de entrada */
.input-container ion-label {
    display: flex;
    align-items: center;
    margin-top: -15px;
  }
  
  .input-container ion-icon {
    margin-right: 8px;
  }
  /* Estilos para el contenedor circular y la imagen del avatar */
.avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px; /* Ajusta el margen inferior */
    margin-top: 80px;
  }
  
  .avatar-image {
    width: 190px; /* Ajusta el tamaño de la imagen */
    height: 190px; /* Ajusta el tamaño de la imagen  */
    border-radius: 50%;
    object-fit: cover; /* Hace que la imagen tenga forma de círculo */
  }
  .custom-button {
    border-radius: 20px;
    font-size: 10px;
    margin-top: -50px;
    margin-left: 40px;
   // background-color: blue /* You can adjust the font size to your preference */
  }

  .sign-up{
    padding: 1px;

}
ion-button{
    width: 230px;
}
@media (min-width: 769px){
    form{
        width: 500px;
         padding: 50px 10px;
    }
}

.btn-google {
  background: #dd4b39;
  color: #fff;
  width: 100%;
}
