<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Créditos del Autor</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Autor: Kem Huillcapuma Aiquipa<br>
      Teléfono: 965750406<br>
      Derechos de autor: Tareas Domésticas App está protegido por derechos de autor ©2023. 
      Todos los derechos reservados. Se prohíbe cualquier reproducción o distribución 
      no autorizada de la aplicación.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Redes Sociales</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="logo-twitter" slot="start"></ion-icon>
          <ion-label>@KemHuillcapuma</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-instagram" slot="start"></ion-icon>
          <ion-label>@KemHuillcapuma</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          <ion-label>@KemHuillcapumaAiquipa</ion-label>
        </ion-item>
        <!-- Agrega más redes sociales si es necesario -->
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre de la Aplicación</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      TAREAS DOMÉSTICAS APP
    </ion-card-content>
  </ion-card>
</ion-content>